<div nz-row [nzJustify]="'center'">
  <div nz-col nzXs="24" nzSm="24" nzMd="22" nzLg="20" nzXl="18">
    <!-- <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
        <div class="info_contact">
          <div class="contact_link_box">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span> Location </span>
              <p>2800 No. 3 Rd</p>
              <p>Richmond, BC</p>
              <p>V6X 2B3</p>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span> Call +01 1234567890 </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span> demo&#64;gmail.com </span>
            </a>
          </div>
        </div>
        <div class="info_social"></div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">Address</div>
    </div> -->

    <div class="footer-link-container" nz-row [nzGutter]="[0, 12]">
      <div
        class="footer-link-container-insite-link"
        nz-col
        nzXs="24"
        nzSm="24"
        nzMd="12"
      >
        <div nz-flex>
          <!-- <a class="logo">Drone Spray</a> -->
          <a routerLink="/drones">Products</a>
          <a routerLink="/service">Service</a>
          <a routerLink="/about">About Us</a>
          <a routerLink="/contact">Contact Us</a>
        </div>
      </div>
      <div class="info_social" nz-col [nzMd]="{ span: 4, offset: 8 }">
        <div nz-flex [nzJustify]="social_icon_justify">
          <a href="">
            <span nz-icon nzType="youtube" nzTheme="outline"></span>
          </a>
          <a href="">
            <span nz-icon nzType="facebook" nzTheme="outline"></span>
          </a>
          <a href="">
            <span nz-icon nzType="twitter" nzTheme="outline"></span>
          </a>
          <a href="">
            <span nz-icon nzType="linkedin" nzTheme="outline"></span>
          </a>
          <a href="">
            <span nz-icon nzType="instagram" nzTheme="outline"></span>
          </a>
        </div>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24" class="footer-link-container-insite-link">
        <div nz-flex nzWrap="wrap-reverse" [nzGap]="copyright_flex_gap">
          <span>Copyright © 2024 DroneSpray All Rights Reserved.</span>
          <span
            ><a
              class=""
              href="https://www.dji.com/ca/policy?from=store_footer"
              target="_blank"
              rel="nofollow"
              >Privacy Policy</a
            ><a
              class=""
              href="https://www.dji.com/ca/terms?from=store_footer"
              target="_blank"
              rel="nofollow"
              >Terms of Use</a
            ><a
              class=""
              href="https://www.dji.com/ca/sitemap?from=store_footer"
              target="_blank"
              rel="nofollow"
              >Site Map
            </a></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
