.logo img{
    height: 64px;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
  }

@media (max-width: 768px) {
    .ant-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      /* background-color: #333; */
      width: 100%;
      max-width: 250px;
      border-left: 1px solid #444;
    }
  
    .ant-menu.open {
      display: flex;
      z-index: 1;
    }
  
    .menu-icon {
      display: block;
    }
  }