<div nz-row [nzJustify]="'center'">
  <div nz-col nzXs="24" nzSm="24" nzMd="22" nzLg="20" nzXl="18">
    <div nz-flex nzJustify="space-between">
      <div class="logo">
        <img src="assets/logo-transparent.jpg" alt="" />
      </div>
      <div (click)="toggleMenu()" #menuIcon class="menu-icon">
        <span
          [hidden]="!isMenuOpen"
          nz-icon
          nzType="menu-unfold"
          nzTheme="outline"
        ></span>
        <span
          [hidden]="isMenuOpen"
          nz-icon
          nzType="menu-fold"
          nzTheme="outline"
        ></span>
      </div>

      <div id="wide-screen-menu" *ngIf="!smallScreen">
        <ng-container *ngTemplateOutlet="menuTemplate"></ng-container>
      </div>
    </div>
  </div>
</div>
<div *ngIf="smallScreen">
  <ng-container *ngTemplateOutlet="menuTemplate"></ng-container>
</div>

<ng-template #menuTemplate>
  <ul [ngClass]="{ open: isMenuOpen }" nz-menu [nzMode]="menuMode">
    <li nz-menu-item (click)="onNavigate()" routerLink="">Home</li>
    <li nz-submenu nzTitle="Drones">
      <ul>
        <li nz-menu-item (click)="onNavigate()" routerLink="/drones/t50">
          DJI Agri T50
        </li>
      </ul>
      <ul>
        <li nz-menu-item (click)="onNavigate()" routerLink="/drones/t25">
          DJI Agri T25
        </li>
      </ul>
      <ul>
        <li nz-menu-item (click)="onNavigate()" routerLink="/drones/mavic_3_m">
          DJI Mavic 3M
        </li>
      </ul>
    </li>
    <li nz-submenu nzTitle="Service">
      <ul>
        <li nz-menu-item (click)="onNavigate()" routerLink="/service/imaging">
          Imaging
        </li>
        <li
          nz-menu-item
          (click)="onNavigate()"
          routerLink="/service/application"
        >
          Application
        </li>
        <li nz-menu-item (click)="onNavigate()" routerLink="/service/seeding">
          Seeding
        </li>
        <li nz-menu-item (click)="onNavigate()" routerLink="/service/rate">
          Rate
        </li>
      </ul>
    </li>

    <li nz-menu-item (click)="onNavigate()" routerLink="/about">About</li>
    <li nz-menu-item (click)="onNavigate()" routerLink="/contact">Contact</li>
  </ul>
</ng-template>