<div class="product-card" *ngIf="droneData" [routerLink]="['/drones', model]">
  <div class="product-image">
    <img [src]="getImageSource()" [alt]="droneData.name" />
  </div>
  <div class="product-info">
    <h3>{{droneData.name}}</h3>
    <ul class="feature-list">
      <li *ngFor="let feature of droneData.features.slice(0, 3)">
        <span nz-icon nzType="check" nzTheme="outline"></span>
        {{feature.title}}
      </li>
    </ul>
    <button nz-button nzType="primary">Learn More</button>
  </div>
</div>
