body {
    color: #0D1B2A;
    background-color: #E0E1DD;
}

nz-header {
    padding: 0;
    background: #fff;
    height: 10rem;
}

nz-content {
    padding: 0;
    background: #E0E1DD;
    position: relative;
}

nz-footer {
    padding: 1rem 0;
    background: #1B263B;
    color: #E0E1DD;
}

@media screen and (max-width: 576px) {
    nz-header {
        height: 5rem;
    }
    nz-content{
        padding: 0;
    }
}
