body{
    color: #3b3e40;
}
nz-header {
    padding: 0;
    background: #fff;
    height: 10rem;
}
nz-content{
    padding: 0;
    background: #fff;
    position: relative;
}

nz-footer{
    padding: 1rem 0;
    background:#272727;
    color: #fff;
}

@media screen and (max-width: 576px) {
    nz-header {
        height: 5rem;
    }
    nz-content{
        padding: 0;
    }
    .ant-layout-header,.ant-layout-content,.ant-layout-footer{
        padding: 0 1rem;
    }
}
